@charset "ISO-8859-1";
#frmCustomer{
	    border: 1px solid silver; 
	    padding:1%;
	    padding-right:2%;
	    border-radius: 5px;
	    background-color: white;
	    color: black; 
	}
body{
    background-color: #FDFDFD;
}
.mt-fixed-nav{
    margin-top:10% !important;
}
.bg-secondary{
  color: white !important;
}